<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wodangjialayout"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="com.wodangjia.app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.wodangjia.activity.IndexActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wodangjia.activity.RegisterActivity" >
        </activity>
        <activity android:name="com.wodangjia.activity.ForgetPwdActivity" >
        </activity>
        <activity android:name="com.wodangjia.activity.LoginActivity" >
        </activity>
        <activity android:name="com.wodangjia.activity.UserInfoActivity" >
        </activity>
        <activity android:name="com.wodangjia.activity.FastLoginActivity" >
        </activity>
        <activity
            android:name="com.wodangjia.activity.ShoppingCartActivity"
            android:label="@string/title_activity_shopping_cart" >
        </activity>
        <activity
            android:name="com.wodangjia.activity.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
    </application>

</manifest>